input {
    height: 40px;
    border: 1px solid #cadcfc;
    margin: 5px 0 15px 0;
    padding: 5px 10px;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input:focus {
    outline: none;
    border: 1px solid #2f3c7e;
  }
  
  label {
    color: #2f3c7e;
    font-weight: 600;
    color: #000000d0;
  }