.loginForm{
    width: 300px;
    padding: 10px 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.loginForm h2{
    font-size: 25px;
    font-weight: 700;
}

.loginForm h3{
    font-size: 15px;
    margin-bottom: 50px;
    color: #969696;
}

.loginForm div{
    width: 100%;
}

.loginForm a{
    width: 100%;
    text-align: end;
    color: #1f1fc7;
    margin-bottom: 20px;
}